#fullpage.no--scroll {
  overflow-y: hidden;
  max-height: 100vh;
}

.section {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.section.one {
  background-image: url(../media/1.avif);
}

.section.two {
  background-image: url(../media/2.avif);
}

.section.three {
  background-image: url(../media/3.avif);
}

.section.four {
  background-image: url(../media/4.avif);
}

.section.five {
  background-image: url(../media/5.avif);
}

.section.six {
  background-image: url(../media/6.avif);
}

.section.seven {
  background-image: url(../media/7.avif);
}

.section__content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
}

.section__content-title {
  font-size: 4rem;
  font-weight: bold;
}

.section__content-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.section__content-subtitle a {
  color: inherit;
}

.section__content-subtitle a:hover {
  border-bottom: 1px solid #00000071;
}

/* Action Buttons */
.section__action-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  gap: 4rem;
  display: flex;
  /* flex-wrap: wrap; */
  text-align: center;
  justify-content: center;
}

.section__action-container .action-btn {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem;
  border-radius: 2rem;
  flex-basis: 80%;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.btn-primary {
  background: rgba(23, 26, 42, 0.8);
  color: white;
}

.btn-secondary {
  background: rgba(255, 255, 255, 0.65);
  color: var(--primary-color);
}
